// Global Variables

// colours

// layout
$awt-spacing: 40px;

// typography
$awt-font-stack:  'Quattrocento Sans', sans-serif;
$awt-font-title: 'Quattrocento', serif;
$awt-font-normal: 400;
$awt-font-bold:   700;
